[Unit]
Description=Sonatype Nexus OSS
After=network.target

[Service]
Type=forking
EnvironmentFile={{ nexus_service_configuration }}
PIDFile=/var/run/nexus/nexus.pid
ExecStart=/usr/share/nexus-latest/bin/nexus start
ExecReload=/usr/share/nexus-latest/bin/nexus restart
ExecStop=/usr/share/nexus-latest/bin/nexus stop
User={{ nexus_os_user }}
Group={{ nexus_os_group }}

[Install]
WantedBy=multi-user.target
